{% extends 'photos/main.html' %}

{% load humanize %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <h1 class="title">Follows  - {{ user.username }} </h1>

      <p>Num: {{ user.profile.follows.count }}</p>
      
    </div>
  </div>
  <div class="columns">
    <div class="column is-8">
      {% for profile in user.profile.follows.all  %}
        <p><a href="{% url 'profile' profile.user.username %}">{{ profile.user.username }}</a><p>
      {% empty %}
        {% if request.user == user %}
          <p>Sorry, you don't follow anyone</p>
        {% else %}
          <p>{{ user.username }} isn't following anyone!</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}