{% extends 'photos/main.html' %}

{% load humanize %}

{% block content %}
<h2>{{ user.first_name }}'s follows </h1>
<p class="text-content"> {{ user.profile.follows.count }} followers</p>

<div class="row">
  <div class="col-md-6 is-8">
    {% for profile in user.profile.follows.all  %}
      <li class="list-group-item">
        <p class="my-auto">
          {% if profile.avatar  %}
            <img src="{{ profile.avatar.url }}" class="img-rounded-sm" alt="">
          {% else %}
            <img src="https://im0-tub-ru.yandex.net/i?id=a53f190616d5598d4d70d2488508ec89&n=13&exp=1" class="img-rounded-sm" alt="">
          {% endif %}
          <a href="{% url 'profile' profile.user.username %}">{{ profile.user.get_full_name }}</a>
        </p>
      </li>
    {% empty %}
      {% if request.user == user %}
        <p class="alert alert-warning">You don't follow anyone</p>
      {% else %}
        <p class="alert alert-warning">{{ user.username }} isn't following anyone!</p>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}