{% extends 'photos/main.html' %}

{% load humanize %}

{% block content %}
<h2>{{ user.first_name }}'s followers  </h2>
<p class="text-content"> {{ user.profile.followed_by.count }} followers</p>
    
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      {% for profile in user.profile.followed_by.all  %}
        <li class="list-group-item">
          <p class="my-auto">
            {% if profile.avatar  %}
              <img src="{{ profile.avatar.url }}" class="img-rounded-sm" alt="">
            {% else %}
              <img src="https://im0-tub-ru.yandex.net/i?id=a53f190616d5598d4d70d2488508ec89&n=13&exp=1" class="img-rounded-sm" alt="">
            {% endif %}
            <a href="{% url 'profile' profile.user.username %}">{{ profile.user.get_full_name }}</a>
          </p>
        </li>
      {% empty %}
        {% if request.user == user %}
          <p class="alert alert-warning">You don't have any followers</p>
        {% else %}
          <p class="alert alert-warning">{{ user.first_name }} doesn't have any followers!</p>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}