{% extends 'photos/main.html' %}

{% load widget_tweaks %}
{% block content %}
{% if show_back %}
  {% include 'photos/parts/goback.html' %}
{% endif %}
<div class="row">
  <div class="col-md-3">
    {% include 'photos/parts/photo_filter.html' %}
    {% include 'photos/parts/category_filter.html' %}
  </div>
  <div class="col-md-9">
    <h2>{{ header }}</h2>
    <div class="row">
      {% for photo in photos %}
      
        {% include 'photos/parts/photo_item.html' %}
      
      {%empty %}
      <p>No Photos ...</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
